/.git*
/.idea*
.dockerignore
.editorconfig

/.env.local
/.env.*.local
.env.local.php
/public/bundles/
/var/mysql-data
/var/rabbitmq
/vendor/
/tools/*/vendor/

Dockerfile
docker-compose.yml
docker-compose-test-ci.yml
docker-compose-prod.yml
